<header class="mdl-layout__header header-style">
  <div class="mdl-layout__header-row">
    <div class="mdl-navigation__title"><%= link_to "sample app", root_path, class: "logo-style" %></div>
    <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation">
      <span class="mdl-navigation__link"><%= link_to "Home", root_path %></span>
      <span class="mdl-navigation__link"><%= link_to "Help", help_path %></span>
      <% if signed_in? %>
				<span class="mdl-navigation__link"><%= link_to "User #{@user.name}", '#' %></span>
				<span class="mdl-navigation__link"><%= link_to "Profile", current_user %></span>
				<span class="mdl-navigation__link"><%= link_to "Settings", '#' %></span>
				<span class="mdl-navigation__link"><%= link_to "Sign out", signout_path, method: "delete" %></span>
      <% else %>
      	<span class="mdl-navigation__link"><%= link_to "Sign in", signin_path %></span>
      <% end %>
    </nav>
  </div>
</header>